.header{
    position: absolute;
    width: 1366px;
    height: 560px;
    left: 0px;
    top: 0px;
    background: #F0FFF0;
}
.icon{
    position: absolute;
    width: 198.07px;
    height: 59px;
    left: 212px;
    top: 30px;
}
.header-list{
    display: flex;
    flex-direction: row;
    padding: 5px;
    left: 1100px;
}
.book-list{
    position: absolute;
    width: 57px;
    height: 34px;
    left: 825px;
    top: 30px;
    border: none;
    background: #F0FFF0;
}
.course-list{
    position: absolute;
    width: 76px;
    height: 34px;
    left: 920px;
     top: 30px;
     border: none;
     background: #F0FFF0;
}
.others-list{
     position: absolute;
     width: 64px;
     height: 34px;
     left: 1021px;
     top: 30px;
     border: none;
     background: #F0FFF0;
}
.blogs-list{
    position: absolute;
    width: 45px;
    height: 34px;
    left: 1122px;
    top: 30px;
    border: none;
    background: #F0FFF0;
}
.button-sign{
    display: flex;
    flex-direction: row;
     padding: 10px 22px;
     position: absolute;
     width: 104px;
     height: 43px;
     left: 1201px;
    top: 32px;
    background: #21B573;
    border-radius: 40px;
}
.button-started{
    /* get started button style */
    display: flex;
    flex-direction: row;
    padding: 10px 33px;
    position: absolute;
    width: 150px;
    height: 43px;
    left: 205px;
    top: 470px;
    background: #21B573;
    border-radius: 33px;
}
.header-position{
    position: absolute;
    left: 725px;
    top: 157px;
}
.header-image{
     width: 520px;
    height: 316px;
}
.header-p{
    /* Are you ready to Learn? */
position: absolute;
width: 188px;
height: 24px;
left: 205px;
top: 178px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height */
color: #FD511A;

}
.first-heading{
    position: absolute;
width: 405px;
height: 140px;
left: 205px;
top: 212px;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 70px;
color: #000000;
}
.second-p{
/* lorem paragraph styling */
    position: absolute;
    width: 403px;
height: 85px;
left: 205px;
top: 371px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 36px;
color: #6C6B6B;

}

